.boardContainer {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.boardHeader {
    width: 100%;
    margin: 20px auto;
    text-align: left;
    margin-left: 50px;
    color: #3f51b5;
}

.boards-list {
  width: 100%;
  overflow-y: scroll;
  height: 70%;
}

.list-nav {
  display: flex;
}