html,
body,
#root,
.root,
.root > div {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.dashboardContainer {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.root {
    flex-grow: 1;
}

.flex {
    flex: 1;
}

.menubutton {
    margin-left: -12px;
    margin-right: 20px;
}

.logoContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
}

.logoContainer * {
    align-self: center;
    margin: 0 20px;
}

.add-board {
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 83px;
  width: 200px;
  height: 50px !important;
  background: #717A7E;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 1;
}

.add-board .textField {
  margin: 0;
}

.add-board label {
  color: white;
  margin-left: 5px;
}

.add-board > .add-board-button {
  height: 30px !important;
  margin: 5px;
}

.list-nav {
  padding: 0 !important;
}

.textField {
    width: 400px;
}

.boardTextField {
    width: 400px;

}

.hidden {
    visibility: hidden;
}
